* {
    margin: 0%;
    font-family: Gilroy, sans-serif;
    src : url(../gilroy-font/Gilroy-Bold.ttf);
    src : url(../gilroy-font/Gilroy-Heavy.ttf);
    src : url(../gilroy-font/Gilroy-Light.ttf);
    src : url(../gilroy-font/Gilroy-Medium.ttf);
    src : url(../gilroy-font/Gilroy-Regular.ttf);
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./pic/bgAdmin-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}
:root {
    --color-orange: #f79421;
}

.cine {
    color: var(--color-orange);
}

.personLogo {
    margin-left: 96em;
}

.kedua{
    font-size: 47px;
    font-weight: 800;
    color: white;
}

.pertama{
    font-size: 47px;
    font-weight: 800;
    color: #f79421;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.konten{
    background: linear-gradient(146.53deg, rgba(243, 243, 243, 0.4) -10.26%, rgba(243, 243, 243, 0.04) 84.29%);
    backdrop-filter: blur(30px);
    border-radius: 1.4em;
    text-align: center;
    padding: 60px;
    padding-left: 170px;
    padding-right: 170px;
    color: white;
    margin: 30px;
}

.konten:hover {
    background-color: #f79416;
}

.isi-1{
    font-size: 50px;
    font-weight: 700;
}

.isi-2{
    font-size: 25px;
}