* {
    margin: 0%;
    font-family: Gilroy, sans-serif;
    src : url(../gilroy-font/Gilroy-Bold.ttf);
    src : url(../gilroy-font/Gilroy-Heavy.ttf);
    src : url(../gilroy-font/Gilroy-Light.ttf);
    src : url(../gilroy-font/Gilroy-Medium.ttf);
    src : url(../gilroy-font/Gilroy-Regular.ttf);
    scroll-behavior: smooth;
}

header {
    background-image: url('./pic/mulan-hd-crop.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

:root {
    --color-orange: #f79421;
}

.buy {
    width: 82vh;
}

.cine {
    color: var(--color-orange);
}

.searching {
    border-color: white;
}



.discover {
    font-size: 33pt;
}

.signup {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    margin-left: 3em;
}

.signup:hover {
    color:white;
}

.login {
    border-color: var(--color-orange);
    color: var(--color-orange);
}

.login:hover {
    color: white;
}

.cok {
 background-color: rgba(68,49,43, 1);
}

.enjoy {
    width: 58em;
}

.bg-card {
    background: url('./pic/Rectangle 16.png')
}

.grad {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.685), rgba(68,49,43, 1));
    border-bottom-right-radius: 8%;
    border-bottom-left-radius: 8%;
}

.wat {
    background-image:  linear-gradient(to bottom left, rgba(255, 255, 255, 0.726), rgba(68,49,43, 1));
    border: none;
}

.wat:hover {
    background: var(--color-orange);
    border-color: var(--color-orange);
    color:white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 8em;
    padding-left: 19em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

.subs {
    width: 28vh;
    font-size: 22px;
}

.subs_email {
    border-color: var(--color-orange);
}

.foot {
    margin-top: 40em;
}

.subbut {
    background: var(--color-orange);
}